body {
  background-color: #C6C6C6;
}
h1 {
  color: #140170;
}
.btn-custom {
  border-radius: 0%;
  color: #FFFFFF;
}
.btn-custom:hover {
  border-radius: 0%;
  color: #C6C6C6;
}
.btn-social-img {
  padding-bottom: 4px;
}
.link {
  color: inherit;
  text-decoration: none;
}
.link:hover {
  color: #140170;
}
.poppins {
  font-family: "Poppins";
}
.navbar-link {
  color: #140170;
  text-decoration: none;
}
.navbar {
  height: 40px;
  background-color: #FFEF2C;
  margin: auto;
}